* {
    font-family: 'Lato', sans-serif;
}

body {
    background: dimgray;
    display: flex;
    justify-content: center;
}

html {
    font-size: 90%;
}

h1 {
    font-size: 2rem;
}

a {
    color: dimgray;
}

.paper {
    margin: 20px;
    background: #ffffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    position: relative;

}

.cut-line {
    margin: 10px auto;
    background: black;
    width: 100%;
    height: 1px;
}

.paper__background--left {
    padding-bottom: 20px;
    background: darkgray;
}

.paper__background--right {
    background: lightgray;
}

.paper__content {
    z-index: 1;
}

.content__image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-image: url("../images/face.png");
    background-size: cover;
    background-position: 50% 30%;
    margin: 25px auto;
}

.content__item--left {
    margin: 15px 35px 0 35px;
}

.content__item--left li {
    margin-bottom: 10px;
}

.content__item--right {
    margin: 15px 35px 0 35px;
}

.content__personal {
    margin-right: 5px;
}

.content__personal i {
    margin-right: 10px;
}

.print-links p:last-child {
    display: none;
}

.skill {
    display: flex;
    justify-content: space-between;
}

.rating__item {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: lightgray;
    margin-right: 5px;
}

.rating__item--check {
    background: black;
}

.content__title {
    margin: 30px auto 15px;
    text-align: center;
}

.content__title > p {
    margin-top: 5px;
}

.content__summary, .content__education--description {
    text-align: justify;
}

.content__experience > ul > li > h4, .content__education > ul > li > h4 {
    margin: 20px 0 5px;
}

.content__experience > ul > li:first-child > h4, .content__education > ul > li:first-child > h4 {
    margin: 0 0 5px;
}

.content__experience > ul > li > ul, .content__education > ul > li > ul {
    padding-left: 40px;
}

.content__experience > ul > li > ul > li, .content__education > ul > li > ul > li {
    list-style-type: disc;
}

footer {
    background: lightgray;
    color: dimgray;
    bottom: 0;
    padding: 30px;
    font-size: 11px;
}

.print__button {
    z-index: 2;
    padding: 5px;
    margin: 10px;
    position: absolute;
}

@media (min-width: 666px) {
    .paper {
        width: 210mm;
        height: 297mm;
    }

    .paper__background {
        height: 100%;
    }

    .paper__background--left {
        padding-bottom: 0;
    }

    .content__item--left {
        margin: 15px 10px 0 35px;
    }

    .content__item--right {
        margin: 15px 35px 0 15px;
    }

    .content__personal {
        margin-right: 5px;
    }

    footer {
        position: absolute;
        background: none;
    }
}

@media print {

    * {
        color: black;
    }

    a {
        color: black;
    }

    @page {
        margin: 0;
    }

    .paper {
        width: 210mm;
        height: 296.99mm;
        box-shadow: none;
        margin: 0;
    }

    .paper__content {
        padding: 10px 0 10px;
    }

    .print-links p:first-child {
        display: none;
    }

    .print-links p:last-child {
        display: inline-block;
    }

    .paper__background--left, .paper__background--right {
        background: none;
    }

    .print__button {
        display: none;
    }

    .content__item--left {
        margin: 15px 10px 0 35px;
    }

    .content__item--right {
        margin: 15px 35px 0 15px;
    }

    .content__personal {
        margin-right: 5px;
    }

    footer {
        margin: 0 35px 15px;
        position: absolute;
        background: none;
    }
}
